{{#each comment-data}}
{{#if parentComment}}
<div class="d-flex m-3 bg-dark p-3 rounded-5 flex-row">
    <div class="flex-shrink-0 slink">
        <img src="{{profile-pic}}" class="pfp-comment">
        <a href="/users/{{author}}" class="stretched-link"></a>
    </div>
    <div class="flex-grow-1 ms-3 flex-column">
        <div class="d-flex flex-row pb-2 my-auto">
            <h4 class="my-auto"><b>{{author}}</b></h4><p class="sm-text ps-3 my-auto">{{formatDate date}}</p>
            {{#if edit}}
            <div class="btn-group text-white">
                <button href="#" class="btn btn-sm btn-outline-secondary ms-2 text-white h3" type="button" data-bs-toggle="collapse" data-bs-target="#edit{{ID}}" aria-expanded="false" aria-controls="collapseWidthExample"><i class="bi bi-pencil-square"></i></button>
                <button class="btn btn-sm btn-outline-secondary text-white h3" type="button" data-bs-toggle="collapse" data-bs-target="#delete{{ID}}" aria-expanded="false" aria-controls="collapseWidthExample"><i class="bi bi-trash3-fill"></i></button>
            </div>
            <div class="sm-height collapse collapse-horizontal inline-block ms-2" id="delete{{ID}}">
                <div class="mc-font alert alert-danger p-1 px-2 mx-auto sm-text my-auto" role="alert">
                    <div class="d-flex flex-row">
                        <div class="sm-width">
                            <p class="my-auto">Are you sure?</p>
                        </div>
                        <a href="#" class="btn btn-outline-success btn-sm ms-2">Delete</a>
                        <button class="btn btn-outline-danger btn-sm ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#delete{{ID}}" aria-expanded="false" aria-controls="collapseWidthExample">Cancel</button>
                    </div>
                </div>
            </div>
            {{/if}}
        </div>
        <p>{{content}}</p>
        <div class="collapse" id="edit{{ID}}">
            <div class="d-flex">
                <div class="mb-2">
                    <textarea name="replyText" rows="3" cols="30"  placeholder = 'Edit Comment'>{{content}}</textarea>
                    <div class = "action-btns">
                        <button class="btn btn-success" type="submit"> Update </button>
                        <button class="btn btn-danger" type="button" data-bs-toggle="collapse" data-bs-target="#edit{{ID}}" aria-expanded="false" aria-controls="collapseExample"> Cancel </button>
                    </div>     
                </div>
            </div>
        </div>    
        <div class="d-flex flex-row">
            <button class="d-flex btn btn-primary mt-2 me-2 mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#comment{{ID}}" aria-expanded="false" aria-controls="collapseExample">
                Reply
            </button>
            <div class="d-flex flex-row ms-1">
                <button class="btn btn-success m-1" type="button">
                    <i class="bi bi-hand-thumbs-up-fill m-1"> {{likes}}</i>
                </button>
                <p class="text-center text-success my-auto"></p>
            </div>
            <div class="d-flex flex-row">
                <button class="btn btn-danger m-1">
                    <i class="bi bi-hand-thumbs-down-fill m-1"> {{dislikes}}</i>
                </button>
                <p class="text-center text-danger my-auto"></p>
            </div>
        </div>
        <div class="d-flex justify-content-start mt-1">
            <div class="collapse" id="comment{{ID}}">
                <div class="d-flex">
                    <div class="bg-secondary p-2 rounded">
                        <textarea name="replyText" rows="5" cols="50"  placeholder = 'Enter your reply'></textarea>
                        <div class = "action-btns">
                            <button class="btn btn-success" type="submit"> Submit </button>
                            <button class="btn btn-danger" type="button" data-bs-toggle="collapse" data-bs-target="#comment{{ID}}" aria-expanded="false" aria-controls="collapseExample"> Cancel </button>
                        </div>     
                    </div>
                </div>
            </div>
        </div>        
        {{#if replies}}
        <div class="d-flex mt-4 flex-row">
            {{> replyComment comment-data = this.replies}}
        </div>
        {{/if}}
    </div>
    <div class="d-flex flex-column text-end">

    </div>
</div>
{{/if}}
{{/each}}